<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

    <style>
      .avatar {
        vertical-align: middle;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
      .container{
        display: flex;
        height: 90vh;
        justify-content: center;
        flex-direction: column;
        padding: 10vh !important;
      }

      .row{
        min-height: 150px;
      }
    </style>
</head>


<body style="padding: 4vh;">
  <div class="shadow-lg container">
    <h2>
      Tabla de información
    </h2>
      <table class="table table-dark" >
        <thead>
          <tr>
            {% for k,v in headers.items(): %}
                <th scope="col">{{v}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for row in my_data: %}
            <tr>
              <th scope="col">{{row.id}}</th>
              <th scope="col">{{row.type}}</th>
              <th scope="col">{{row.name}}</th>
              <th scope="col">{{row.image.url}}</th>
              <th scope="col">{{row.thumbnail.url}}</th>
            </tr>
            {% endfor%}
        </tbody>
      </table>
      <a class="btn btn-primary" href="/crear" role="button">Crear</a>
    </div> 
</body>
</html>