.titulo{
    background-color: rgba(255, 230, 0, 0.397)0, 255, 255); 
    width: 30%; 
    color: red; 
    text-transform: uppercase;
}
.otraFont{
    font-family: 'Courier New', Courier, monospace;
}

#elemento1{
    color: blueviolet;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }